<p style="text-align:center;">
    <h1 style="text-align:center;">Welcome the RoomChat</h1>
<p style="text-align:center;">At here you can create your room,chat with your friend inside sepearted rooms and report roooms which you can see suspicious.</p>
</p>